<h2>product list</h2>

<div class="product-table" ng-repeat="product in products">
	<span>{{product._id}}</span>
	<input ng-model="product.product"></input> 
	<input ng-model="product.description"></input> 
	<input ng-model="product.price"></input> 
	<button ng-click="updateProduct(product._id, product.product, product.description, product.price)">update</button>
	<button ng-click="removeProduct(product._id)">delete</button>
</div>

<div class="flex-column" ng-show="true">
	<h3> new product </h3>
	<input ng-model="newProduct" placeholder="product"></input>
	<input ng-model="productPrice" placeholder="price"></input>
	<textarea ng-model="productDescription" placeholder="{decription: object}"></textarea>
	<button ng-click="addProduct(newProduct, productPrice, productDescription)">submit</button>
</div>